<h1><%= @list.name %></h1>

<% @list.movies.each do |movie| %>
    <li class="list-group-item"><h2><%= movie.title %></h2>
    <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <br><%= movie.overview %>
    <% bookmark = movie.bookmarks.find_by(list: @list) %>
    <br><%= movie.rating %>/10
    <br><%= link_to("Remove from the list", bookmark_path(bookmark), method: :delete) %></li>
  <% end %>

<%= link_to("Add a movie", new_list_bookmark_path(@list)) %>
<br>
<%= link_to("Back to the lists", lists_path(@list) ) %>
